<article ng-repeat="item in items">
    <div class="post-date">
        <div class="post-day">{{item.date.day}}</div>
        {{item.date.month}}<br>
        <small>{{item.date.year}}</small>
    </div>
    <div class="post-author">
        <small>autor:</small>
        <br>{{item.author}}
    </div>
    <h4>{{item.title}}</h4>

    <p ng-bind-html="item.shortText"></p>

    <p class="text-right">
        <a ng-click="item.open =! item.open" class="btn btn-default btn-primary" ng-show="item.text.length > 0">Więcej</a>
    </p>
    <p ng-show="item.open" ng-bind-html="item.text"></p>
</article>