<div class="modal-body blue">
    <div class="clearfix">
        <button type="button" ng-click="close()" class="close"><img src="/images/close.png"></button>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <p>
                <img src="{{photoFor(person)}}" class="img-circle">
            </p>

            <p>
                <a ng-if="person.twitter" href="https://twitter.com/{{person.twitter}}" class="btn btn-default btn-primary" target="_blank">@twitter</a><br>
                <a ng-if="person.url" href="http://{{person.url}}" class="btn btn-default btn-primary" target="_blank">strona www</a>
            </p>
        </div>
        <div class="col-sm-7">
            <h4>{{person.firstName}} {{person.lastName}}</h4>

            <div ng-bind-html="person.bio"></div>
        </div>
    </div>
</div>
<div class="modal-body lightblue" ng-if="presentation">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p>
                <a ng-href="{{presentation.file}}" class="btn btn-default btn-primary" ng-if="presentation.file">pobierz</a>
                <a ng-href="{{presentation.youTube}}" class="btn btn-default btn-primary" ng-if="presentation.youTube">zobacz na youtube</a>
                <!--<a href="#" class="btn btn-default btn-primary">zobacz kod</a>-->
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="text-info">Temat prezentacji:</p>
            <h4>{{presentation.title}}</h4>

            <p ng-bind-html="presentation.longDesc"></p>
        </div>
    </div>
</div>
