<div class="text-center">
    <h4>{{title}}</h4>

    <div class="bx-logo-slider">
        <div ng-repeat="sponsor in items">
            <a href="{{sponsor.url}}" target="_blank">
                <img ng-src="{{sponsor.logo}}" alt="{{sponsor.name}}">
            </a>
        </div>
    </div>
</div>