<section ng-controller="RegisterConfirmationCtrl" class="white" ng-init="getStatus()">
    <div class="container register">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">Status twojej rejestracj: <span style="color: #42538f">{{status || "Chwileczkę..."}}</span></h3>
                <page name="registration-status"></page>
            </div>
        </div>
    </div>
</section>
<sponsors></sponsors>