<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <h3 class="text-center">O nas</h3>

            <page name="about-short"></page>
            <p class="text-right"><a href="#/about" class="btn btn-default btn-primary">Więcej</a></p>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <img class="img-responsive" src="images/man.png">
        </div>
    </div>
</div>