<div ng-controller="AgendaCtrl">
    <form class="form-inline">
        <input type="text" ng-model="presentationFilter"/>

        <div ng-repeat="room in agenda.rooms" class="room checkbox">
            <label>
                <input type="checkbox" ng-model="selected" ng-change="changed(room, selected)"
                       ng-checked="isVisible(room)"/>{{room}}
            </label>
        </div>
    </form>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="width: 120px;">
                Rooms
            </th>
            <th ng-repeat="room in agenda.visibleRooms" class="cell animate">{{room}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="slot in agenda.slots">
            <td>{{slot.start}} - {{slot.end}}</td>
            <td ng-repeat="presentation in getAllPresentationsForSlot(slot.id)" class="cell animate">
                <div ng-show="presentation | presentationFilter:presentationFilter" class="presentation animate">
                    <div class="title">{{presentation.title}}</div>
                    <div class="speaker">
                        <span class="first-name">{{presentation.speaker.firstName}}</span>
                        <span class="last-name">{{presentation.speaker.lastName}}</span>
                    </div>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>