<div class="container" ng-controller="HeaderCtrl">
    <div ng-include="'/views/top-navigation.html'"></div>
    <div class="row" ng-include="'/views/links.html'"></div>
    <div class="row">
        <div class="col-sm-5">
            <h1 class="text-hide">Confitura'14</h1>
        </div>
        <div class="col-sm-7 text-right">
            <h2>5 lipca 2014</h2>

            <p class="subtitle">Kampus Główny Uniwersytetu Warszawskiego</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div ng-if="isOnMainPage()" class="video">
                <div ng-click="play()" ng-if="!isPlaying">
                    <img src="/images/video.jpg" style="cursor:pointer"/>
                </div>
                <div ng-if="isPlaying">
                    <iframe class="youtube-player" type="text/html" width="782" height="440"
                            src="http://www.youtube.com/embed/lja7L_c8kuo?autoplay=1" allowfullscreen frameborder="0">
                    </iframe>
                </div>
            </div>
            <!--<a href="#/register" class="btn btn-default btn-lg btn-primary register-btn">Zarejestruj się!</a>-->

            <div class="social-icons visible-xs">
                <a href="https://pl-pl.facebook.com/Confitura" target="_blank">
                    <img src="/images/fb2.png" alt="Facebook">
                </a>
                <a href="https://twitter.com/confiturapl" target="_blank">
                    <img src="/images/tw2.png" alt="Twitter">
                </a>
                <a href="https://plus.google.com/u/0/communities/111143182611552730655" target="_blank">
                    <img src="/images/gp2.png" alt="Google+">
                </a>
                <a href="https://picasaweb.google.com/105244662761703257330" target="_blank">
                    <img src="/images/pi2.png" alt="Picasa">
                </a>
            </div>
        </div>
    </div>
</div>