<section class="white">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="text-center">Najważniejsze informacje</h3>
                <page name="info-top"></page>
            </div>
        </div>
    </div>
    <div id="map"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <page name="info-bottom"></page>
            </div>
        </div>
    </div>
</section>
<sponsors></sponsors>
<script>
    $(function () {
        var mapCenter = new google.maps.LatLng(52.24041, 21.019376);
        var mapOptions = {
            scrollwheel: false,
            zoom: 17,
            center: mapCenter,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [
                {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [
                        { "color": "#a2344d" }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        { "color": "#ac3f58" }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        { "color": "#c56080" }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        { "color": "#ffffff" }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        { "color": "#a2344d" }
                    ]
                }
            ]
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var mapMarker = new google.maps.Marker({
            position: mapCenter,
            map: map,
            icon: "/images/marker.png"
        });
    });
</script>
