<div class="col-sm-12 text-right hidden-xs">
    <a href="https://pl-pl.facebook.com/Confitura" target="_blank"><img src="/images/fb.png" alt="Facebook"></a>
    <a href="https://twitter.com/confiturapl" target="_blank"><img src="/images/tw.png" alt="Twitter"></a>
    <a href="https://plus.google.com/u/0/communities/111143182611552730655" target="_blank"><img src="/images/gp.png" alt="Google+"></a>
    <a href="https://picasaweb.google.com/105244662761703257330" target="_blank"><img src="/images/pi.png" alt="Picasa"></a>
</div>
