<div class="container" ng-controller="NewsCtrl" ng-init="getLatest()">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h3 class="text-center">Aktualności</h3>
            <news items="news"></news>
        </div>
    </div>
</div>