<section ng-controller="RegisterCtrl" class="white">
    <div class="container register">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">Rejestracja</h3>

                <h1 ng-if="loading" class="text-center" style="font-size: 7em;">Chwileczkę...</h1>

                <div ng-hide="loading">
                    <div ng-if="setup.isActive === false">
                        <page name="registration-closed"></page>
                    </div>
                    <div ng-show="setup.isActive">
                        <form role="form" name="participantForm" ng-submit="register(participant)" ng-hide="finish" novalidate>

                            <div class="alert alert-danger" ng-if="internalError">
                                <p>{{internalError}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6" ng-class="{ 'has-error' : participantForm.firstName.$invalid && submitted }">
                                    <label for="firstName">Imię:</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" required
                                           ng-model="participant.firstName" ng-maxlength="255">

                                    <p ng-show="participantForm.firstName.$invalid && submitted" class="help-block">Imię jest wymagane</p>
                                </div>
                                <div class="col-md-6" ng-class="{ 'has-error' : participantForm.lastName.$invalid && submitted }">
                                    <label for="lastName">Nazwisko:</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" required
                                           ng-model="participant.lastName" ng-maxlength="255">

                                    <p ng-show="participantForm.lastName.$invalid && submitted" class="help-block">Nazwisko jest
                                        wymagane</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" ng-class="{ 'has-error' : participantForm.email.$invalid && submitted}">
                                    <label for="email">E-mail:</label>
                                    <input type="email" class="form-control" id="email" name="email" required ng-model="participant.mail"
                                           ng-maxlength="255">

                                    <p ng-show="participantForm.email.$invalid && submitted" class="help-block">E-mail jest niepoprawny</p>
                                </div>
                                <div class="col-md-6" ng-class="{ 'has-error' : participantForm.city.$invalid && submitted }">
                                    <label for="city">Miasto:</label>
                                    <input type="text" class="form-control" id="city" name="city" required ng-model="participant.city"
                                           ng-maxlength="255">

                                    <p ng-show="participantForm.city.$invalid && submitted" class="help-block">Miasto jest wymagane</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" ng-class="{ 'has-error' : participantForm.exp.$invalid && submitted }">
                                    <label for="exp">Doświadczenie:</label>
                                    <select class="form-control" id="exp" name="exp" required ng-model="participant.experience"
                                            ng-options="exp for exp in experienceList"></select>

                                    <p ng-show="participantForm.exp.$invalid && submitted" class="help-block">Doświadczenie jest
                                        wymagane</p>
                                </div>
                                <div class="col-md-6" ng-class="{ 'has-error' : participantForm.occup.$invalid && submitted }">
                                    <label for="occup">Stanowisko:</label>
                                    <select class="form-control" id="occup" name="occup" required ng-model="participant.position"
                                            ng-options="occup for occup in occupationList"></select>

                                    <p ng-show="participantForm.occup.$invalid && submitted" class="help-block">Stanowisko jest wymagane</p>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-2 col-sm-12" ng-class="{ 'has-error' : participantForm.sex.$invalid && submitted }">
                                    <label for="size">Płeć:</label>
                                    <select class="form-control" id="sex" name="sex" required ng-model="participant.sex">
                                        <option>Kobieta</option>
                                        <option>Mężczyzna</option>
                                    </select>

                                    <p ng-show="participantForm.sex.$invalid && submitted" class="help-block">Płeć jest
                                        wymagana</p>
                                </div>
                                <div class="col-md-2 col-sm-12" ng-class="{ 'has-error' : participantForm.size.$invalid && submitted }">
                                    <label for="size">Rozmiar koszulki:</label>
                                    <select class="form-control" id="size" name="size" ng-required="participant.mailing"
                                            ng-model="participant.size"
                                            ng-options="size for size in sizes" ng-disabled="participant.mailing == false"></select>

                                    <p ng-show="participantForm.size.$invalid && submitted" class="help-block">
                                        Rozmiar koszulki jest wymagany
                                    </p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="participant.mailing">
                                            Chcę otrzymać materiały konferencyjne (w tym koszulkę) i brać udział w losowaniu nagród oraz
                                            zgadzam się na otrzymywanie wiadomości drogą e-mail od Organizatorów Confitury. Maksymalnie 6.
                                            razy w ciągu najbliższego roku wyślemy do Was mail promocyjny w imieniu jednego z naszych
                                            Partnerów. Nadawcą będą organizatorzy Confitury. Nie udostępnimy adresów e-mail żadnemu z
                                            Partnerów.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-include="'/views/select-presentations.html'"></div>
                                </div>
                            </div>
                            <div class="alert alert-danger" ng-if="internalError">
                                <p>{{internalError}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button type="submit" class="btn btn-default btn-primary">Wyślij</button>
                                </div>
                            </div>
                        </form>
                        <div ng-if="finish">
                            <page name="registration-end"></page>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>