<section class="white agenda" ng-controller="AgendaCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">Agenda</h3>

                <form class="form-inline text-right" role="form">
                    <label class="checkbox-inline" ng-repeat="room in agenda.rooms" ng-disabled="isDisabled(room)">
                        <input type="checkbox" ng-model="selected" ng-change="changed(room, selected)"
                               ng-checked="isVisible(room)" ng-disabled="isDisabled(room)"/> {{room}}
                    </label>
                    <input type="text" placeholder="szukaj..." class="form-control" ng-model="presentationFilter"/>
                </form>
                <div class="table-responsive">

                    <table class="table">
                        <thead>
                        <tr>
                            <th style="max-width: 120px;"></th>
                            <th ng-repeat="room in agenda.visibleRooms" class="cell">{{room}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="slot in agenda.slots">
                            <td style="max-width: 120px;">{{slot.start}} - {{slot.end}}</td>
                            <td
                                    class="cell animate"
                                    ng-repeat="presentationInRoom in getAllPresentationsForSlot(slot.id)"
                                    colspan="{{getRoomSpanFor(presentationInRoom)}}"
                                    ng-class="{'all-rooms': availableForAllRooms(presentationInRoom)}">
                                <div ng-show="presentationInRoom.presentation | presentationFilter:presentationFilter"
                                     class="presentation animate">
                                    <span class="title clearfix">{{presentationInRoom.presentation.title}}</span>
                                    <small ng-repeat="speaker in presentationInRoom.presentation.speakers" class="clearfix">
                                        <person for="speaker" presentation="presentationInRoom.presentation" type="text"></person>
                                    </small>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<sponsors></sponsors>