<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target="#mainmenu" data-toggle="collapse">MENU</button>
    </div>
    <menu id="mainmenu"></menu>
</nav>